<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.BannerGroupMapper">

    <select id="selectPage" resultType="com.example.common.entity.bannergroup.BannerGroupVO">
        SELECT * FROM banner_group
        <where>
            <if test="vo.code != null and vo.code != ''">
                AND code LIKE CONCAT('%',#{vo.code},'%')
            </if>
            <if test="vo.name != null and vo.name != ''">
                AND name LIKE CONCAT('%',#{vo.name},'%')
            </if>
            <if test="vo.remark != null and vo.remark != ''">
                AND remark LIKE CONCAT('%',#{vo.remark},'%')
            </if>
            AND deleted = 0
        </where>
    </select>
</mapper>
