<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.BrandMapper">

    <select id="selectPage" resultType="com.example.common.entity.brand.BrandVO">
        SELECT * FROM brand
        <where>
            <if test="vo.name != null and vo.name != ''">
                AND name LIKE CONCAT('%',#{vo.name},'%')
            </if>
            <if test="vo.logo != null and vo.logo != ''">
                AND logo LIKE CONCAT('%',#{vo.logo},'%')
            </if>
            <if test="vo.enable != null and vo.enable != ''">
                AND enable LIKE CONCAT('%',#{vo.enable},'%')
            </if>
            <if test="vo.introduction != null and vo.introduction != ''">
                AND introduction LIKE CONCAT('%',#{vo.introduction},'%')
            </if>
            <if test="vo.sort != null and vo.sort != ''">
                AND sort LIKE CONCAT('%',#{vo.sort},'%')
            </if>
            AND deleted = 0
        </where>
    </select>
</mapper>
