<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CategoryMapper">

    <select id="selectPage" resultType="com.example.common.entity.category.CategoryVO">
        SELECT * FROM category
        <where>
            <if test="vo.name != null and vo.name != ''">
                AND name LIKE CONCAT('%',#{vo.name},'%')
            </if>
            <if test="vo.description != null and vo.description != ''">
                AND description LIKE CONCAT('%',#{vo.description},'%')
            </if>
            <if test="vo.parentId != null and vo.parentId != ''">
                AND parent_id LIKE CONCAT('%',#{vo.parentId},'%')
            </if>
            <if test="vo.image != null and vo.image != ''">
                AND image LIKE CONCAT('%',#{vo.image},'%')
            </if>
            <if test="vo.sort != null and vo.sort != ''">
                AND sort LIKE CONCAT('%',#{vo.sort},'%')
            </if>
            AND deleted = 0
        </where>
    </select>
</mapper>
