<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <resultMap id="UserWithRolesMap" type="com.example.common.entity.user.UserVO">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="avatar" property="avatar"/>
        <result column="introduction" property="introduction"/>
        <result column="full_name" property="fullName"/>
        <result column="creator" property="creator"/>
        <result column="created_date" property="createdDate"/>
        <result column="last_updater" property="lastUpdater"/>
        <result column="last_update_date" property="lastUpdateDate"/>
        <result column="status" property="status"/>
        <collection property="roles" ofType="string">
            <result column="role_id"/>
        </collection>
    </resultMap>
    <select id="listUsersOfPage" resultMap="UserWithRolesMap">
        SELECT u.*, uar.role_id FROM sys_users u LEFT JOIN sys_users_and_roles uar ON u.id = uar.user_id
    </select>
</mapper>